
* { margin: 0; padding: 0; }

body {
    width: 300px;
    padding: 10px;
}
body, input, select {
    font: 14px/1.5 Ubuntu, sans-serif;
}

input, select {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

label.checkbox-label {
    display: inline-block;
    padding: 5px;
    margin: 1px 0;
    border: 1px solid #EEE;
}
label.checkbox-label:hover {
    background-color: #EEE;
}

.hidden-checkbox {
    display: none;
}
.hidden-checkbox:checked + label.checkbox-label {
    background-color: lightseagreen;
    color: #FFF;
}

a {
    text-decoration: underline;
    color: lightseagreen;
    cursor: pointer;
}

p {
    margin-bottom: 15px;
}
